aniso8601==7.0.0
arrow==0.15.5
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.3.0
binaryornot==0.4.4
certifi==2019.6.16
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
conda==4.7.11
conda-package-handling==1.3.11
cookiecutter==1.7.0
coverage==5.0.3
cryptography==2.6.1
Django==2.2.5
django-filter==2.2.0
djangorestframework==3.10.2
future==0.18.2
graphene==2.1.8
graphene-django==2.5.0
graphql-core==2.2.1
graphql-relay==2.0.0
httpie==1.0.3
idna==2.8
importlib-metadata==1.5.0
isort==4.3.21
Jinja2==2.11.1
jinja2-time==0.2.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
more-itertools==8.2.0
nose==1.3.7
packaging==20.1
pluggy==0.13.1
poyo==0.5.0
promise==2.2.1
py==1.8.1
pycosat==0.6.3
pycparser==2.19
Pygments==2.4.2
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.6.8
pytest==5.3.5
python-dateutil==2.8.1
pytz==2019.2
pywin32==223
requests==2.21.0
ruamel-yaml==0.15.46
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
tqdm==4.32.2
urllib3==1.24.1
wcwidth==0.1.8
whichcraft==0.6.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zipp==3.0.0